@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    font-family:Poppins, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    list-style: none;
    text-decoration: none;
}
/*variables*/
:root{
    --main-color: #ffa500 ;
    --second-color:#ecfdf8 ;
    --text-color:#121011 ;
    --bg-color: #fff; 
    --bk-color: #808080;   
    /*Box Shadow*/
    --box-shadow:0 0 16px 1px rgb(14 52 54 / 15%) ;
}
section{
    padding: 50px 100px;
}
img{
    width: 100%;
}
body{
    color: var(--text-color);
}
header{
    position: fixed;
    width:100%;
    top:0;
    right: 0;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    padding: 18px 100px;
    transition: 0.5
}
header.active{
    box-shadow: var(--box-shadow);
}
.logo img{
    display: flex;
    align-items: center;
    width: 29px;
}
.logo{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1rem;
    font-weight:600;
    color: var(--text-color);
    text-transform: uppercase;
}

.logo:hover{
        color: var(--main-color);
}
.logo .bx{
    font-size: 24px;
    color: var(--main-color);
}
.logo .bx:hover{
    color: var(--text-color);
}
.navbar{
    display: flex;
}
.navbar a{
    padding: 8px 17px;
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar a:hover{
        color: var(--main-color);
}
#menu-icon {
    font-size: 24px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
    padding-right: 10px;
}
.header-icon{
    font-size: 20px;
    cursor: pointer;
    z-index:1000;
    display: flex;
    column-gap: 0.8rem;
    align-items: center;
}
.header-icon .bx{
    color: var(--bg-color);
    padding: 7px;
    background: var(--main-color);
    border-radius: 0.4rem;
}

.header-icon .bx:hover{
    color: var(--text-color);
    background:transparent;
    border: 2px solid var(--main-color);
}
.header-icon i{
    position: relative;
}
.header-icon span{
    position: absolute;
    top: -7px;
    right: -7px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--text-color);
    color: var(--bg-color);
    font-size: 0.6rem;
    font-weight: 500;
}
.search-box {
    position: absolute;
    top: 110%;
    right: -100%;
    background: var(--bg-color);
    width: 280px;
    box-shadow: var(--box-shadow);
}
.search-box input{
        border: none;
        outline: none;
        width: 100%;
        font-size:1rem ;
        padding: 20px;
        color: var(--bk-color);
}

.search-box input::placeholder{
    font-size: 1rem;
    font-weight: 500;

}
.search-box.active{
    right: 1rem;
    transition: 0.2s all linear;
    
}
.home{
    width: 100%;
    min-height: 740px;
    display: grid;
    align-items: center ;
    grid-template-columns: repeat(auto-fit, minmax(17rem,auto));
    gap: 1.5rem;
    background: var(--second-color);
}
.home-text h3{
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--main-color);
}
.home-text h1{
    font-size: 3.4rem;
    letter-spacing: 1px;
}
.home-text span{
    color: var(--main-color);
}
.home-text p{
    max-width: 80%;
    font-size: 0.938rem;
    margin: 0.5rem 0 1.5rem;
}
.btn{
    color: var(--bg-color);
    border: 2px solid var(--main-color);
    background: var(--main-color);
    padding: 10px 40px;
    border-radius: 0.4rem;
}
.btn:hover{
    color: #121011;
    background: transparent;
    transition: 0.2s all;
}
.home-img{
    animation: float 3s linear infinite;
}
@keyframes float{
    0%,100%{
        transform: translateY(-3.5rem)
    }
    50%{
        transform: translateY(1rem)
    }
}
.about{
    display: grid;
    align-items: center ;
    grid-template-columns: repeat(auto-fit, minmax(17rem,auto));
    gap: 1.5rem;
}
.about-text h2{
    font-size: 1.8rem;
    text-transform: uppercase;
}

.about-text p {
    font-size: 0.938rem;
    margin: 0.5rem 0 1.1rem;
}
.heading{
    text-align: center;
}
.heading h2{
    font-size: 1.8rem;
    text-transform: uppercase;
}
.products-container{
    display: grid;
    align-items: center ;
    grid-template-columns: repeat(auto-fit, minmax(280px,auto));
    gap: 1.5rem;
    margin-top: 2rem;
}
.products-container .box{
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
}
.products-container .box img{
    width: 100%;
    height: 250px;
    object-fit: contain;
    object-position: center;
    padding: 20px;
    background: var(--second-color) ;
    border-radius: 0.5rem;
}
.products-container .box:hover img{
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transition: 0.4s all linear;
}
.products-container .box h2{
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0.5rem 0 0.5rem;
}

.products-container .box span{
    font-size: 1rem;
    font-weight: 600;
    color: var(--main-color);
}
.products-container .box .bx{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    font-size: 20px;
    color: var(--bg-color);
    background: var(--main-color);
    border-radius: 0.5rem 0 0.5rem 0;
    cursor: pointer;
}    
.products-container .box .bx:hover{
    border: 2px solid var(--main-color);
    color: var(--text-color);
    background: transparent;
    transition: 0.2s all linear;
}
.customers-container{
    display: grid;
    align-items: center ;
    grid-template-columns: repeat(auto-fit, minmax(280px,auto));
    gap: 1.5rem;
    margin-top: 2rem;   
}
.customers-container .box{
    padding: 20px;
    box-shadow: var(--box-shadow);
    box-decoration-break: var(--box-shadow);
    border-radius: 0.5rem;
    text-align: center;
}
.stars .bx{
    color: var(--main-color);
}
.customers-container .box img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.customers-container h2{
    font-size: 1.2rem;
    font-weight: 600;
}
.customers-container p{
    font-size: 0.938rem;
    margin: 0.5rem 0 0.5rem;
}
.customers-container .box:hover{
    background: var(--second-color);
    transition: 0.2s all linear;
}
.newsletter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    row-gap: 2rem;
}
.newsletter h2{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
}
.newsletter form{
    background: var(--bg-color);
    padding: 10px;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
}
.newsletter form input{
        color: var(--bk-color);
        width: 200px;
        border: none;
        outline: none;
        background: transparent;    
}
.newsletter form .email-btn{
    background: var(--main-color);
    padding: 8px ;
    color: var(--bg-color);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    max-width: 115px;
    border-radius: 0.5rem;
}
.newsletter form .email-btn:hover{
    color: var(--text-color);
    border: 2px solid var(--main-color);
    background: transparent;
    transition: 0.2s all linear;
    cursor: pointer;
}
.footer{
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(240px,auto));
    gap: 1.5rem;
}
.footer-box a{
    margin-bottom: 10px;
    font-size: 1rem;
    color: var(--text-color);
}
.footer-box a:hover{
    color: var(--main-color);
}
.footer-box p{
    font-size: 0.938rem;
    margin-bottom: 10px;
}
.social{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.social a .bx{
    font-size: 24px;
    color: var(--text-color);
    padding: 10px;
    background: var(--second-color);
    border-radius: 5rem;
}
.social a .bx:hover{
    background: var(--main-color);
    color: var(--bg-color);
}
.footer-box h3{
   font-weight: 600;
   margin-bottom: 10px;  
}
.contact{
    display: flex;  
    flex-direction: column;
    row-gap: 0.5rem;
}
.contact span{
    display: block;
    align-items: center;
}
.contact i{
    font-size: 20px;
    margin-right:1rem ;
}
.copyright{
    padding: 20px;
    text-align: center;
    background: var(--second-color);
}
.copyright-text p{
    font-size: 1.5rem;
    margin: 0.5rem 0 1.1rem;

}
@media (max-width:1058px){
        header{
            padding: 16px 60px;
        }
        section{ 
                padding: 50px 60px;
        }
        .home-text h1{
            font-size: 2.4rem;
        }
    }
@media (max-width: 991px){
    header{
        padding: 16px 4%;
    }
    section{
        padding: 50px 4%;
    }
.products-container{
        grid-template-columns: repeat(auto-fit, minmax(240px,auto));
    }
    #menu-icon{
        display: initial;
    }
    .navbar{
        position: absolute;
        top:100%;
        left: 0%;
        right: 0%;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        row-gap: 1.4rem;
        padding: 20px;
        transition: 0.4s all linear;
        text-align: center;
        clip-path: circle(0% at 100% 1%);
        /*box-shadow: var(--box-shadow);*/
    }
    .navbar.active{
        clip-path: circle(144% at 100% 1%);
    }
}
@media (max-width: 768px){
    header{
        padding: 12px 4%;
    }
    #menu-icon{
        display: initial;
    }
    .navbar{
        position: absolute;
        top:100%;
        left: 0%;
        right: 0%;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        row-gap: 1.4rem;
        padding: 20px;
        transition: 0.4s all linear;
        text-align: center;
        clip-path: circle(0% at 100% 1%);
        /*box-shadow: var(--box-shadow);*/
    }
    .navbar.active{
        clip-path: circle(144% at 100% 1%);
    }
}
@media (max-width:614px){
    .home-text{
        padding: 15px;
    }
    .home-text h1{
        font-size: 2rem;
    }
    .about{
        text-align: center;
    }
    .about-img{
        order: 2;
    }
}
@media (max-width:360px){
    header{
        padding: 11px 4%;
    }
    .header-icon .bx{
        padding: 4px;
    }
    .home-text h1{
        font-size: 1.8rem;
    }
}
.about-text{
    font-size: 1.2rem;
}
.newsletter form input{
    width: auto;
}